/* .stat_dropdown_menu{
    width: 510px;
    height: 210px;
    position: inherit;
    
} */

.header_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5383e8;
    height: 50%;
}

.header_bottom_container{
    justify-content: space-between;
    display: flex;
    width: 1080px;
    height: 100%;
    align-items: center;  
}

.my_page{
    display: flex;
    justify-content: center;
    width: 90px;
}


.route_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    gap: 15px;
}

.route_nav_right{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 90px;
}

.route_nav_right_icon{
    height: 24px;
    width: 24px;
}

.route_items{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #81a0ef;
    font-size: 14px;
    padding: 13px 0px;
    cursor: pointer;
}

.route_items::after,
.route_items:hover{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    color: white;
}



/* BODY */

.body{
    margin: 0 11rem 0 11rem;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body_image{
    /* margin: 3rem 0; */
    justify-content: center;    
    align-items: center;
    display: flex;
    width: inherit;
    height: inherit;
    margin: 3.5rem 0;

}

#body_img{
    height: 250px;
    width: 500px;
}


.search_engine{
    width: inherit;
    height: 144px;
    position: relative;
    margin: 0 140px;
    justify-content: center;
    display: flex;
    
}

.upper{
    width: 800px;
    height: 60px;
    top: 0;
    border: 1px solid black;
    border-radius: 40px;
    position: absolute;
    display: flex;
    background-color: #31313c;
    align-items: center;
}

.select_region{
    height: 40px;
    width: 194px;
    padding: 0 8px 0 32px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.label{
    height: 16px;
    width: 194px;
    font-size: 14px;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 4px;
}

.select_region_button{
    width: 194px;
    height: 17px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-align: left;

}

.search{
    height: 40px;
    width: 460px;
    flex-direction: column;
    display: flex;
}

.search_input{
    background-color: transparent;
    border: 0;
    padding: 0;
}

.gg_button{
    right: 0;
    height: 60px;
    width: 90px;
    border: 0;
    background-color: transparent;
}

.downer{
    width: 530px;
    height: 60px;
    bottom: 0;
    position: absolute;
    margin-left: calc((800px - 530px) / 2);
    margin-right: calc((800px - 530px) / 2);
    border-radius: 40px;
    border: 1px solid black;
    
}

.downer_container{
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    
}

.downer_container_wrap{
    padding: 0 30px;
    width: inherit;
    height: inherit;
    position: relative;
    width: 33rem;
    height: 60px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
    
}

#downer_img1{
    height: inherit;
    width: 150px;
    
}

.downer_ads_container{
    height: 36px;
    width: 17rem;
    right: 0;   
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#downer_img2{
    height: 36px;
    width: 36px;
    
}

.downer_adsword_upper{
    height: 100%;
    width: 14rem;
    display: flex;
    position: relative;
}

.downer_adsword_up{
    position: absolute;
    top: 0;
    width: 100%;
    height: 6px;
    display: flex;
    color: white;
}

.downer_adsword_down{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16px;
    
}

.downer_span1, .downer_span2, .downer_span3{
    color: white;
    font-family: "Roboto", sans-serif;
    
}

.downer_span3{
    font-size: 12px;
}

.downer_span1 {
    font-size: 1em;
    text-decoration: none;
    color: white;
    
}

.downer_span2{
    border: 0.5px solid black;
    border-radius: 5px;
    font-size: 12px;
    background-color: #90C8FF;
    padding: 3px 6px 0 3px;
}