@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    background-color: #1c1c1f;
    

.header_container{
    height: 97px;
    width: 100%;
}

.header_top{
    width: 100%;
    height: 50%;
    top: 0;
    display: flex;
    background-color: #1c1c1f;
}

.logo {
    padding: 0px 24px  0px 24px;
    width: 66px;
    height: 48px;
}

.logo img{
    height: inherit;
    width: inherit;
}

.header_right {
    margin-left: auto;
    display: flex;
    padding-right: 24px;
    width: 209.875px;
    height: 48px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    
    
}

.stat {
    height: 48px;
    width: 270.703px;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.stat_logo{
    height: 24px;
    width: 24px;
}


#stat_logo{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
}

.stat button{
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
}


.next_to_logo {
    height: 48px;
    width: 731.422px;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;

}


.three_button {
    width: 128px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sign_in_button{
    padding: 6px 12px 6px 12px;
    height: 40px;
    width: 65.875px;
    border: 0;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #bdb8a8;
    background-color: #424254;
}

.three_button button{
    height: inherit;
    width: 40px;
}


.desktop {
    align-items: center;
    justify-items: center;
    display: flex;
    width: 84px;
    height: 40px;
    position: relative;
    justify-content: space-between;
    padding: 4px 8px 4px 12px;
    gap: 10px;
    text-decoration: none;
}


.next_to_logo_img{
    justify-items: center;
    align-items: center;
    display: flex;
}

.imageid{
    width: 24px;
    height: 24px;
    position: relative;
}

.imageid_transparent{
    position: absolute;
    width: 24px;
    height: 24px;
}


.spanid{
    width: 40px;
    height: 14px;
    display: flex;
    color: #858586;
    font-family: "Roboto", sans-serif;
    font-size: 14px;

    /* justify-items: center;
    justify-content: center;
    align-items: center; */
}

.gigs_new_container{
    display: flex;
}

.new{
    display: flex;
    
}

#span_new{
    border: 3px solid transparent;
    background-color: #eb9c00;
    font-size: 7pt;
    border-radius: 2rem;
    color: black;


}

.menu {
    background-color: #424254;
    color: white;
    border-radius: 5px;
    height:inherit;
    width: 200px;
    padding: 4px 8px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    border: 0;
    cursor: pointer;
    position: relative;
    
}

.lol_span{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.menu_container {
    position: relative;
    height: inherit;
}

.dropdown_menu{
    position: absolute; 
    width: 32rem;
    background-color: #31313C;
    left: -30px;
    margin-top: 2px;
    border-radius: 5px;
    display: flex;
    padding: 20px;

    visibility: hidden;
    opacity: 0;
    
}

.dropdown_menu_grid{
    display: grid;
    width: 50%;
    height: inherit;
    left: 0;
    margin-right: 10px;
}

.dropdown_menu_img{
    display: flex;
    width: 50%;
    height: inherit;
    right: 0;
}

.grid_img{
    height: 20px;
    width: 20px;
}

.grid_items{
    display: flex;
    height: inherit;
    width: inherit;
    text-decoration: none;
    gap: 10px;
    text-align: left;
    align-items: center;
}

.grid_button{
    display: flex;
    background-color: transparent;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    justify-self: left;
    width: 100%
    
}

.grid_span{
    color: white;
    display: block;
    text-align: left;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    bottom: 0;
}

.pointy {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
}


.lol_logo{
    width: 24px;
    height: 24px;
    
}

.point_down {
    width: 16px;
    height: 16px;
    margin-left: auto;
}

#meh1, #meh2, #meh3 {
    width: 90%;
    height: 90%;
    
}

.meh1_containter,
.meh2_container,
.meh3_container{
    display: flex;
    background-color: #1c1c1f;
    border: 0;
    color: white;
}

/* .next_to_logo span:hover {
    color: white;
} */

/* next to logo hover */

.imageid_transparent{
    opacity: 0;
}

.desktop:hover .imageid{
    opacity: 0;
}

.desktop:hover .imageid_transparent{
    opacity: 1;
    
}

.desktop:hover .spanid{
    color: white;
}

.default{
    position: relative;
    width: 248px;
    height: 140px;
    opacity: 1;
}

.dropdown_img{
    position: absolute;
    width: 248px;
    height: 140px;
    opacity: 0;
}


/* .grid_button:hover {
    background-color: #424254;
} */

/* #grids_lol:hover,
.grid_button:hover{
    background-color: #424254;
} */

/* #grids_button:hover .default{
    opacity: 0;
    background-color: #424254;
} */

#grids_lol:hover ~ #default{
    opacity: 0;
}

#grids_lol:hover ~ #dropdown_img1{
    opacity: 1;
}